@page "/users"

@inherits AuthorizedBase
@inject UserService UserService
@inject TerritoryService TerritoryService

<Heading Size="HeadingSize.Is1">Users</Heading>

@if (users == null)
{
    <Paragraph>Loading...</Paragraph>
    return;
}

<Panel Class="overflow-auto" Margin="Margin.Is0.OnX">
    <Table IsStriped="true">
        <TableHeader ThemeContrast="ThemeContrast.Light">
            <TableRow>
                <TableHeaderCell>Email</TableHeaderCell>
                <TableHeaderCell>Registration Date</TableHeaderCell>
                <TableHeaderCell>Registration Time</TableHeaderCell>
                <TableHeaderCell>Tax ID</TableHeaderCell>
                <TableHeaderCell>Name</TableHeaderCell>
                <TableHeaderCell>Phone</TableHeaderCell>
                <TableHeaderCell>Address</TableHeaderCell>
                <TableHeaderCell>Country</TableHeaderCell>
                <TableHeaderCell>Province</TableHeaderCell>
                <TableHeaderCell>City</TableHeaderCell>
                <TableHeaderCell>ZIP Code</TableHeaderCell>
                <TableHeaderCell>Info Requested</TableHeaderCell>
                <TableHeaderCell>Admin</TableHeaderCell>
                <TableHeaderCell>Login Date</TableHeaderCell>
                <TableHeaderCell>Login Time</TableHeaderCell>
                <TableHeaderCell>Login IP</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (var user in users)
            {
                <TableRow>
                    <TableRowCell>@user.Email</TableRowCell>
                    <TableRowCell>@user.RegistrationDateTime.ToShortDateString()</TableRowCell>
                    <TableRowCell>@user.RegistrationDateTime.ToShortTimeString()</TableRowCell>
                    <TableRowCell>@user.TaxId</TableRowCell>
                    <TableRowCell>@user.Name</TableRowCell>
                    <TableRowCell>@user.Phone</TableRowCell>
                    <TableRowCell>@user.Address</TableRowCell>
                    <TableRowCell>@TerritoryService.GetCountryName(user.Country)</TableRowCell>
                    <TableRowCell>@TerritoryService.GetProvinceName(user.Province)</TableRowCell>
                    <TableRowCell>@user.City</TableRowCell>
                    <TableRowCell>@user.ZipCode</TableRowCell>
                    <TableRowCell>@(user.InfoRequested ? "X" : "")</TableRowCell>
                    <TableRowCell>@(user.Admin ? "X" : "")</TableRowCell>
                    <TableRowCell>@user.LoginDateTime?.ToShortDateString()</TableRowCell>
                    <TableRowCell>@user.LoginDateTime?.ToShortTimeString()</TableRowCell>
                    <TableRowCell>@user.LoginIpAddress</TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
</Panel>

@code {
    List<User> users;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var user = await UserService.GetCurrentAsync(Service);
        if (user == null || !user.Admin)
        {
            return;
        }

        users = await Service.Users.OrderBy(user => user.Name).ToListAsync();
    }
}
