<html>
<body>
    <p>Estimado/a @Model.User.Name:</p>
    <p>@Model.Message.Creator.Name ha enviado un mensaje:</p>
    <p>@Model.Message.Text</p>
    <p>Entre en <a href="@Model.SiteUrl">Naobiz</a> si quiere enviarle una respuesta.</p>
    <hr />
    <p>* Por favor no responda a este email. Si necesita apoyo contacte con nosotros <a href="@Model.SupportUrl">aquí</a></p>
    <p>* Si no quiere recibir estas respuestas automáticas a sus comentarios, entre en Mi Cuenta y deshabilite la opción de recibir estas notificaciones.</p>
    <p>
        Según lo previsto en la Ley 34/2002 de Servicios de la Sociedad de la Información y de Comercio Electrónico, así como en la normativa vigente de Protección de Datos de Carácter Personal,
        le informamos que esta información ha sido remitida por TECH FOR SOURCING, S.L. Usted puede ejercer sus derechos de acceso, rectificación, supresión, limitación al tratamiento y
        portabilidad en los términos establecidos en la legislación vigente, que podrá hacer efectivos dirigiéndose por correo electrónico a @Model.SiteEmail.
        También informamos que la información incluida en este e-mail es CONFIDENCIAL, siendo para uso exclusivo del destinatario arriba mencionado.
        Si Usted lee este mensaje y no es el destinatario indicado, le informamos que está totalmente prohibida cualquier utilización, divulgación, distribución y/o reproducción de esta comunicación
        sin autorización expresa en virtud de la legislación vigente. Si ha recibido este mensaje por error, le rogamos nos lo notifique inmediatamente por esta misma vía y proceda a su destrucción.
    </p>
</body>
</html>
