<html>
<body>
    <p>Estimado/a @Model.User.Name:</p>
    <p>@Model.Message.Creator.Name ha respondido a su mensaje:</p>
    <p>@Model.Message.ParentMessage.Text</p>
    <p>La respuesta fue:</p>
    <p>@Model.Message.Text</p>
    <p>Reciba nuestra bienvenida desde el equipo Naobiz!</p>
    <hr />
    <p>* Por favor no responda a este email. Si necesita apoyo contacte con nosotros <a href="@Model.SiteUrl">aquí</a></p>
</body>
</html>
