@inherits OwningComponentBase<AppDbContext>
@inject NavigationManager NavigationManager
@inject UserService UserService

@if (resource == null)
{
    <Paragraph>Loading...</Paragraph>
    return;
}

<Card Margin="Margin.Is1.FromBottom">
    <CardHeader Class="resource-title">
        <CardSubtitle>
            <Paragraph>@resource.Title</Paragraph>
            <Badge Color="Color.Secondary">@resource.Activity.Name</Badge>
        </CardSubtitle>
    </CardHeader>
    <CardBody Class="resource-body">
        <Row Class="resource-owner">
            <Column>
                <UserInfo User="resource.Owner" />
                <Timestamp DateTime="resource.CreationDateTime" Float="Float.Right" />
            </Column>
        </Row>
        <Row Class="resource-description" Margin="Margin.Is1.FromBottom">
            <Column ColumnSize="ColumnSize.Is11.OnFullHD.Is10.OnTablet.Is9.OnMobile">
                <Alert Color="Color.Info" Visible="true">
                    <MultilineText Text="@resource.Description" />
                </Alert>
            </Column>
            <Column ColumnSize="ColumnSize.Is1.OnFullHD.Is2.OnTablet.Is3.OnMobile">
                @if (currentUser.Paid && resource.Owner == currentUser || currentUser.Admin)
                {
                    <Row Margin="Margin.Is1.FromBottom">
                        <Column>
                            <Button Color="Color.Primary" Outline="true" Size="ButtonSize.Small" Float="Float.Right" Clicked="EditResource">Editar</Button>
                        </Column>
                    </Row>
                    <Row>
                        <Column>
                            <Button Color="Color.Danger" Outline="true" Size="ButtonSize.Small" Float="Float.Right" Clicked="() => deleteResourceConfirm.Show()">Eliminar</Button>
                        </Column>
                    </Row>
                }
            </Column>
        </Row>
        @if (resource.Url != null)
        {
            <Row Class="resource-url">
                <Column>
                    <Button Color="Color.Link" Size="ButtonSize.Small" Clicked="NavigateToUrl">@resource.Url</Button>
                </Column>
            </Row>
        }

        @foreach (var attachment in attachments)
        {
            <Tooltip Text="@Helper.SizeToString(attachment.Size)" Fade="true">
                <Button Class="resource-attachment" Color="Color.Light" Size="ButtonSize.Small" Clicked="() => DownloadAttachment(attachment)">@attachment.Name</Button>
            </Tooltip>
        }
    </CardBody>
</Card>

<ResourceEdit @ref="resourceEdit" Service="Service" Submitted="SubmitResource" />
<Confirm @ref="deleteResourceConfirm" Text="Eliminar el recurso?" Confirmed="DeleteResource" />

@code {
    [Parameter]
    public int ResourceId { get; set; }

    [Parameter]
    public EventCallback ResourceDeleted { get; set; }

    User currentUser;
    Resource resource;
    ResourceEdit resourceEdit;
    List<ResourceAttachment> attachments;
    Confirm deleteResourceConfirm;

    protected override async Task OnInitializedAsync()
    {
        currentUser = await UserService.GetCurrentAsync(Service);

        resource = await Service.Resources.SingleAsync(resource => resource.Id == ResourceId);
        await UpdateAttachments();
    }

    private async Task UpdateAttachments()
    {
        attachments = await Service.ResourceAttachments.Where(attachment => attachment.Resource == resource).OrderBy(attachment => attachment.Name).ToListAsync();
    }

    private void NavigateToUrl() => NavigationManager.NavigateTo(resource.Url);

    private void DownloadAttachment(ResourceAttachment attachment)
    {
        var uri = "_resource-attachment";
        uri = QueryHelpers.AddQueryString(uri, "id", attachment.Id.ToString());
        NavigationManager.NavigateTo(uri, true);
    }

    private async Task EditResource()
    {
        await resourceEdit.Show(resource);
    }

    private async Task SubmitResource()
    {
        resourceEdit.Get(resource);

        foreach (var model in resourceEdit.RemovedModels)
        {
            var attachment = Service.ResourceAttachments.SingleOrDefault(attachment => attachment.Resource == resource && attachment.Name == model.Name);
            if (attachment != null)
            {
                Service.ResourceAttachments.Remove(attachment);
            }
        }
        foreach (var attachment in resourceEdit.CreateAttachments())
        {
            attachment.Resource = resource;
            Service.ResourceAttachments.Add(attachment);
            Service.Blobs.Add(attachment.Content);
        }

        await Service.SaveChangesAsync();

        await UpdateAttachments();
    }

    private async Task DeleteResource()
    {
        Service.Resources.Remove(resource);

        await Service.SaveChangesAsync();

        await ResourceDeleted.InvokeAsync(null);
    }
}
